<%profile = ["email", "username", "pin", "website", "address"]%>

<%profile.each do |v|%>
  <label for="<%=v%>"><%=v%></label>
  <input type="text" name="<%=v%>" id ="<%=v%>" class="fancy_form">
<%end%>
